<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Products featuring of order ( <span th:text="${order.date}"></span>
    / <span th:text="${order.cost}"></span> hrn.)</h1>
    <ul>
        <li th:each="product : ${order.products}">
            <p><strong>Name: </strong><span th:text="${product.name}"></span></p>
            <p><strong>Cost: </strong><span th:text="${product.cost}"></span></p>
        </li>
    </ul>
</body>
</html>